<style type="text/css" media="screen">
    .ace-editor-item {
        position: absolute;
        top: 30px;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>

<div ng-controller="Cultiv.ViewsEditor">
    <i class="medium icon-paper-plane" title="Insert Page Field" ng-click="insertPageField()"></i>
    <i class="medium icon-paper-plane-alt" title="Insert Dictionary Item" ng-click="insertDictionaryItem()"></i>
    <i class="medium icon-umb-developer" title="Insert Macro" ng-click="insertMacro()"></i>
    <i class="medium icon-checkbox-dotted" title="Render section" ng-click="renderSection()" ng-hide="layout"></i>
    <i class="medium icon-checkbox" title="Implement section" ng-click="implementSection()" ng-hide="!layout"></i>
    <i class="medium icon-document-dashed-line" title="Render body" ng-click="renderBody()" ng-hide="layout"></i>
    
    <input type="text" name="fileName" ng-model="filename" />
    <button type="submit" data-hotkey="ctrl+s" class="btn btn-success pull-right" ng-click="saveView()">
        <localize key="buttons_save" class="ng-isolate-scope ng-scope">Save</localize>
    </button>
        
    <div class="ace-editor-item" ng-model="contents"></div>
</div>